<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>AUTO-YA</title>
        <link rel="stylesheet" href="../styles/register.css">
        <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main class="mainbody">
            <section class="sectionbody">
                <h3 class="tituloEdit">Creacion del producto</h3>

                <form action="/products/create" method="POST" enctype="multipart/form-data">
                    <div class="divflex">
                        <div class="nameProduct">
                            <label for="nombre_producto">Nombre</label>
                            <input type="text" name="nombre_producto" required>
                        </div>

                        <div>
                            <label for="descripcion">Descripcion</label>
                            <input type="text" name="descripcion" required>
                        </div>

                        <div>
                            <label for="categoria">Categoria</label>
                            <select name="categoria" id="categoria" required>
                            <option value="Camionetas">Camionetas</option>
                            <option value="Descapotables">Descapotables</option>
                            <option value="Compactos">Compactos</option>
                            <option value="SubCompactos">SubCompactos</option>
                            <option value="Deportivos">Deportivos</option>
                            <option value="Urbanos">Urbanos</option>
                        </select>
                        </div>

                        <div>
                            <label for="modelo">Modelo</label>
                            <select name="modelo" id="modelo" required>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                        </div>

                        <div>
                            <label for="imagen">Imagen</label>
                            <input type="file" name="imagen" id="imagen">
                        </div>


                        <div>
                            <label for="precio">Precio</label>
                            <input type="text" name="precio" required>
                        </div>

                        <div>
                            <label for="descuento">descuento</label>
                            <input type="text" name="descuento">
                        </div>

                        <div class="divboton">
                            <button type="submit">Crear producto</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>