<header>
    <div class="header-left">
        <a href="/">
            <div class="logo"></div>
        </a>
        <h3>AUTO-YA</h3>
    </div>
    <input type="text" name="search" id="search" placeholder="Buscar productos">
    <div class="header-right">
        <ul>
            <li><a style="color:#f5eeee" href="/login">Iniciar Sesion</a></li>
            <li><a style="color:#f5eeee" href="/register">Registrarse</a></li>
        </ul>
        <div class="avatar"></div>
        <i class="fas fa-bars"></i>
    </div>
</header>