<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Descripcion del Articulo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a class="logo" href="/"><img src="images/logo AutoYA.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="#">Acerca de Nosotros</a></li>
                <li><a href="/register">Registrarse</a></li>
                <li><a href="/login">Ingresar</a></li>
            </ul>
        </nav>
        <a class="cta" href="#">Carrito de Compras</a>
        <p class="menu cta">Menu</p>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#">Acerca de Nosotros</a>
            <a href="/register">Registrarse</a>
            <a href="/login">Ingresar</a>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="cover"></div>
            <div class="content">
                <div class="nav">
                    <span class="logo">AutoYA</span>
                    <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
                </div>
                <div class="content-body">
                    <div class="black-label">
                        <span class="title"><b>Titulo del producto</b></span>
                        <p>Modelo del producto 
                            </p>
                            <p>Año del producto 
                            </p>
                            <p>Kilometraje del producto 
                            </p>
                            <p> descripcion extendida del producto </p>
                   
                                <div class="prix">
                                   <span><b>precio: $61.000.00</b></span>
                                   <span class="crt">Añadir al carrito</span>
                               </div>
                               </div>

                   
                </div>
                
            </div>
        </div>
    </main>
       


    <footer>
        <div class="footer-content">
        <h3>AUTOYA</h3>
        <p>Los Ceibos 10, B1803, La Unión, Buenos Aires, Argentina.</p>
        <p>Teléfono: (011) 7525-3000 Celular: +54 9 11 3427-5938</p>
        <p>info@autoYA.com.ar</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; 1999-2020 AutoYA S.R.L. Diseñado por: <span>Nosotros jaja</span></p>
    </div>
    </footer>

</body>
</html>