<!DOCTYPE html>
<html>
    <head>
         <title>AutosYA</title>
         <meta charset="utf-8">
         <meta name= "viewport" content= "width=device-width, initial-scale=1,0">
         <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
         <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <div class= "main-header">
                <div class = "main-header-top-bar">
                    <img src="/images/logo-AUTOYA.png" class = "logo">
                    <!-- <div class= "form" action= "#" method= "GET">
                        <div class="input">Buscar productos, marcas y más</div>
                        <div class="submit"><i class="fa fa-search"></i></div>
                    </div> -->
                    <nav class= "main-navbar">
                        <ul class= "left-navbar">
                            <li><a href="#">Comprá tu auto</a></li>
                            <li><a href="#">Financiamiento</a></li>
                            <li><a href="#">Vendé tu auto</a></li>
                            <li><a href="#">Nosotros</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
          
        </header>
        <section class= "banner">
            <img src="/images/bannerAutoya.jpg" class="banner">
        </section>

        <nav class= "main-navbar">
            <ul class= "right-navbar">
                <li><a href="/register">Crea tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/login">ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Carrito<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <Main>
            <section class= "last-visit">
            <div>
                <h3>Te ayudamos a conseguir el financiamiento para tu AutoYA</h3>
            </div>
            <div>
                <h2>Elegí entre miles de autos certificados.
                    Tenemos una opción de financiamiento ideal para vos.</h2>
            </div>
                <div class= "products">
                    <article>
                        <img src= "images/citroen-C3-picasso.png" alt="Citroen C3 Picasso" class="product_img">
                        <div class="specs">
                            <h2 class= "description">Citroen C3</h2>
                            <h3 class= "description">Picasso</h3>
                            <span class="year">2013</span>
                            <p><strong>Motor:</strong> 1.6</p>
                        </div>
                        <p class="km"><strong>KM:</strong> 13.000</p>
                        <p class="price-min">Entrega mínima <span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="890.000">890.000</span></p>
                        <p class="price">Precio <strong><span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="1.489.990">1.489.990</span></strong></p>
                    </article>
                    <article>
                        <img src="/images/ford-focus-SE.png" alt="Ford Focus SE" class="product_img">
                        <class class= "main-article">
                            <div class="specs">
                                <h2 class= "description">Ford Focus</h2>
                                <h3 class= "description">SE</h3>
                                <span class="year">2014</span>
                                <p><strong>Motor:</strong> 2.0</p>
                            </div>
                                <p class="km"><strong>KM:</strong> 53.000</p>
                                <p class="price-min">Entrega mínima <span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="1.130.000">1.130.000</span></p>
                                <p class="price">Precio <strong><span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="1.889.990">1.889.990</span></strong></p>
                        </class>
                    </article>
                    <article>
                        <a href="/description">
                        <img src="/images/audi-A3.png" alt=audiA3" class="product_img">
                        </a>
                        <div class="specs">
                            <h2 class= "description">Audi A3</h2>
                            <h3 class= "description">Sportback</h3>
                            <span class="year">2014</span>
                            <p><strong>Motor:</strong> 1.4 TSI</p>
                        </div>
                        <p class="km"><strong>KM:</strong> 46.000</p>
                        <p class="price-min">Entrega mínima <span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="1.980.000">1.980.000</span></p>
                        <p class="price">Precio <strong><span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="3.299.990">3.299.990</span></strong></p>
                    </article>
                    <article>
                        <img src="/images/minicooper-S-hot.png" alt="Mini Cooper S" class="product_img">
                        <class class= "main-article">
                            <h2 class= "description">Mini Cooper</h2>
                            <h3 class= "description">S Hot</h3>
                            <div class="specs">
                                <span class="year">2011</span>
                                <p><strong>Motor:</strong> 1.6 T</p>
                            </div>
                            <p class="km"><strong>KM:</strong> 29.000</p>
                            <p class="price-min">Entrega mínima <span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="2.180.000">2.180.000</span></p>
                            <p class="price">Precio <strong><span itemprop="priceCurrency" content="ARS">$</span><span itemprop="price" content="3.639.990">3.639.990</span></strong></p>
                        </class>
                    </article>
                </div>
            </section>
        </Main>
        <section class= "banner">
            <img src="/images/banner-huellas.png" class="bannerHuellas">
        </section>
        <div class= "logos">
            <section class= "banner">
                <img src="/images/AUTOYA-cartel.png" class="banner3">
            </section>
            <section class= "banner">
                <img src="/images/AUTOYA-remera.png" class="banner3">
            </section>
            <section class= "banner">
                <img src="/images/logo-AUTOYA-mobile.png" class="banner3">
            </section>
            <section class= "banner">
                <img src="/images/logo-AUTOYA3.png" class="banner3">
            </section>
        </div>
        <footer>
            <article>
                <h3>DONDE NOS ENCONTRAMOS</h3>
                <p><img src="/images/croquis.png" class = "croquis"></p>
            </article>
            <div class= "datos">
            <article>
                <h3>DIRECCIÓN</h3>
                <p>Los Ceibos 10, B1803, La Unión, Buenos Aires, Argentina.</p>
                <p>Teléfono: (011) 7525-3000 Celular: +54 9 11 3427-5938</p>
                <p>info@autoYA.com.ar</p>
            </article>
            <article>
                <h3>HORARIOS</h3>
                <p>Lunes a viernes: de 9 a 13hs y de 15 a 19hs
                <p>Sábados: de 9 a 13hs</p>
                <p>Domingos: Cerrado</p>
            </article>
            </div>

            <p class= "Copyright"></p>Copyright © 1999-2020 AutoYA S.R.L.</p>
        </footer>

</body>

</html>