<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AutoYA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <a class="logo" href="/"><img src="images/logo AutoYA.png" alt="logo"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/login">Ingresar</a></li>
                </ul>
            </nav>
            <a class="cta" href="#">Carrito de Compras</a>
            <p class="menu cta">Menu</p>
        </header>

        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="#">Acerca de Nosotros</a>
                <a href="/register">Registrarse</a>
                <a href="/login">Ingresar</a>
            </div>
        </div>


        <main >
            <div class="signup-box">
                <h1>Registrate!</h1>
                <h4>Solo te tomara un par de minutos..</h4>
                <form>
                  <label>Nombres</label>
                  <input type="text" placeholder="" />
                  <label>Apellidos</label>
                  <input type="text" placeholder="" />
                  <label>Correo Electronico</label>
                  <input type="email" placeholder="" />
                  <label>Contraseña</label>
                  <input type="password" placeholder="" />
                  <label>Confirmar Contraseña</label>
                  <input type="password" placeholder="" />
                  <input type="button" value="Registrarme" />
                </form>
                <p>
                  Al registrarte admites que eres mayor de edad??? <br />
                </p>
              </div>
              <p class="para-2">
                estas registrado? <a href="/login">Ingresa aqui!</a>
              </p>
        </main>

        <footer>
            <div class="footer-content">
            <h3>AUTOYA</h3>
            <p>Los Ceibos 10, B1803, La Unión, Buenos Aires, Argentina.</p>
            <p>Teléfono: (011) 7525-3000 Celular: +54 9 11 3427-5938</p>
            <p>info@autoYA.com.ar</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; 1999-2020 AutoYA S.R.L. Diseñado por: <span>Nosotros jaja</span></p>
        </div>
        </footer>

    </body>
</html>