<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>

        <title>AUTOS-YA</title>
        <link rel="stylesheet" href="styles/home.css">
</head>

<body>

    <%- include('partials/header') %>
        <main>
            <section class="banners">
                <a href="/products">
                    <div class="category Camionetas">
                        <div class="overlay">
                            <h3 class="category-title">Camionetas</h3>
                        </div>
                    </div>
                </a>
                <a href="/products">
                    <div class="category Descapotables">
                        <div class="overlay">
                            <h3 class="category-title">Descapotables</h3>
                        </div>
                    </div>
                </a>
                <a href="/products">
                    <div class="category Compactos">
                        <div class="overlay">
                            <h3 class="category-title">Compactos</h3>
                        </div>
                    </div>
                </a>
                <a href="/products">
                    <div class="category SubCompactos">
                        <div class="overlay">
                            <h3 class="category-title">SubCompactos</h3>
                        </div>
                    </div>
                </a>
                <a href="/products">
                    <div class="category Deportivos">
                        <div class="overlay">
                            <h3 class="category-title">Deportivos</h3>
                        </div>
                    </div>
                </a>
                <a href="/products">
                    <div class="category Urbanos">
                        <div class="overlay">
                            <h3 class="category-title">Urbanos</h3>
                        </div>
                    </div>
                </a>
            </section>

        </main>

        <%- include('partials/footer') %>

</body>

</html>