<link rel="stylesheet" href="css/footer.css">
<div class="footer-content">
    <h3>AUTOYA</h3>
    <p>Los Ceibos 10, B1803, La Unión, Buenos Aires, Argentina.</p>
    <p>Teléfono: (011) 7525-3000 Celular: +54 9 11 3427-5938</p>
    <p>info@autoYA.com.ar</p>
    <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
</div>
<div class="footer-bottom">
    <p>copyright &copy; 1999-2020 AutoYA S.R.L. Diseñado por: <span>Nosotros jaja</span></p>
</div>