<link rel="stylesheet" href="css/header.css">
<a class="logo" href="/"><img src="images/logo.png" alt="logo"></a>
<nav>
    <ul class="nav__links">
        <li><a href="#">Acerca de Nosotros</a></li>
        <li><a href="/register">Registrarse</a></li>
        <li><a href="/login">Ingresar</a></li>
    </ul>
</nav>
<a class="cta" href="/productcart">Carrito de Compras</a>
<p class="menu cta">Menu</p>