<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="css/inicio_registro.css">
        <link rel="stylesheet" href="css/contenedor_productos.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#">Acerca de Nosotros</a>
            <a href="/register">Registrarse</a>
            <a href="/login">Ingresar</a>
        </div>
    </div>


    <main>
        <div class="login-box">
            <h1>Iniciar sesion!</h1>
            <form>
                <label>Correo Electronico</label>
                <input type="email" placeholder="" />
                <label>Contraseña</label>
                <input type="password" placeholder="" />
                <input type="button" value="Ingresar" href="#" />
            </form>
        </div>
        <p class="para-2">
            No tienes cuenta aun? <a href="/register">Registrate aqui!</a>
        </p>
    </main>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>

</html>